<div class="container">
    <div class="column is-flex is-justify-content-center">
        <img src='./assets/images/404.jpg' alt='Cow being abducted by aliens wallpaper' />
    </div>
    <div class="is-flex is-justify-content-center is-align-items-end">
        <a href='/' id='home-login' class='button is-rounded is-warning' role="button">TAKE ME HOME</a>
    </div>
</div>