<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <h2 class="title is-light has-text-centered">my expenses</h2>

      <div id="modal-js-example" class="modal">
        <div class="modal-background"></div>

        <div class="modal-content">

          <div class="box">

            <div class="container">
              <h1 class="title has-text-centered">add expense</h1>

              <!-- Expense Form -->
              <div class="columns is-centered">
                <div class="column is-half">

                  <form id="expenseForm" class="expenseForm box">
                    <div class="field">
                      <label class="label" for="expenseName">expense name</label>
                      <div class="control">
                        <input class="input is-warning" type="text" id="expenseName" name="expenseName" />
                      </div>
                    </div>

                    <div class="field">
                      <label class="label" for="expenseAmount">expense amount</label>
                      <div class="control">
                        <input class="input is-warning" type="number" id="expenseAmount" name="expenseAmount" min="0" />
                      </div>
                    </div>

                    <div class=" field is-grouped">
                      <div class="control">
                        <button class="button is-warning" type="submit" id="submit">
                          add expense
                        </button>
                      </div>
                      <div class="control">
                        <button class="button is-secondary" type="submit">
                          close
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{#if expenses.length}}
      <div class="expense-list box">
        <h3 class="title">Expense List</h3>
        {{#each expenses as |expense|}}
        <div class="columns mb-2">
          <div class="column">
            <h4>{{expense.name}} - ${{expense.amount}}</h4>
          </div>
          <div class="column">
            <button class="button is-warning is-small" data-id="{{expense.id}}">delete</button>
          </div>
        </div>
        {{/each}}
      </div>
      {{/if}}
      <!-- Button trigger modal -->
      <div class="buttons is-centered is-flex-direction-column is-align-items-center">
        <button type="submit" class="js-modal-trigger button is-warning" data-target="modal-js-example">+</button>
      </div>

    </div>
  </div>
</div>

<script src='./js/add.js'></script>
<script src="./js/expense.js"></script>