<div class="is-full">
    <img src='./assets/images/cowpic.jpg' alt='Cow with money and sunglasses' />
    {{#unless logged_in}}
    <a href='/login' id="home-login" class='btn' role="button">log in</a>
    {{/unless}}
</div>