<div class="container">
  <div class="cow">
    <h2>my incomes</h2>
    <div id="modal-js-example" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
          <div class="container">
            <h3 class="has-text-centered">add income</h3>
            <!-- income Form -->
            <div class="columns is-centered">
              <div class="column is-half">
                <form id="incomeForm" class="incomeForm box">
                  <div class="field">
                    <label class="label" for="incomeName">income name</label>
                    <div class="control">
                      <input class="input is-warning" type="text" id="incomeName" name="incomeName" />
                    </div>
                  </div>
                  <div class="field">
                    <label class="label" for="incomeAmount">income amount</label>
                    <div class="control">
                      <input class="input is-warning" type="number" id="incomeAmount" name="incomeAmount" min="0" />
                    </div>
                  </div>
                  <div class="control buttons is-small is-right">
                    <button class="button is-rounded is-warning is-outlined" type="submit" id="submit">
                      🤑
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{#if incomes.length}}
    <div class="income-list columns">
      {{#each incomes as |income|}}
      <div class="animate__animated animate__flipInX column">
        <ul>
          <div class='box custom-box'>
            <li>Date: {{format_date income.date_created}} </li>
            <li>Description: {{income.name}}</li>
            <li>Income: ${{income.amount}}</li>
          </div>
        </ul>
        <div class='buttons is-right'>
          <button class="button is-danger is-outlined is-rounded is-small" data-id="{{income.id}}">X</button>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
    <!-- Button trigger modal -->
    <div class="buttons is-centered is-flex-direction-column is-align-items-center">
      <button type="submit" class="js-modal-trigger button is-dark is-outlined is-rounded"
        data-target="modal-js-example">+</button>
    </div>
  </div>
</div>

<script src='./js/add.js'></script>
<script src="./js/income.js"></script>