<div id='container' class='col-md-6'>
  <h2>sign up</h2>

  <form class='form signup-form'>
    <div class='mb-3'>
      <label for='name-signup' class='form-label'>name:</label>
      <input type='text' class='form-control' id='name-signup' />
    </div>
    <div class='mb-3'>
      <label for='email-signup'>email:</label>
      <input type='email' class='form-control' id='email-signup' />
    </div>
    <div class='mb-3'>
      <label for='password-signup' class='form-label'>password:</label>
      <input type='password' class='form-control' id='password-signup' />
    </div>
    <button type='submit' class='linethrough btn'>sign up</button>
    <a href='/login' id='no-hover' class='linethrough btn' role='button'>go back</a>
  </form>

</div>

<script src='./js/signup.js'></script>