<div class='cow col-md-6'>
  <h2>sign up</h2>
  <form class='form signup-form'>
    <div class="field">
      <label for='name-signup' class='form-label label'>name</label>
      <div class="control">
        <input id='name-signup' class="input form-control is-warning" type="text" placeholder="Moo Moo" />
      </div>
    </div>
    <div class="field">
      <label for='email-signup' class="form-label label">email</label>
      <div class="control">
        <input id='email-signup' class="form-control input is-warning" type="email" placeholder="moomoo@gmail.com" />
      </div>
    </div>
    <div class="field">
      <label for='password-signup' class='form-label label'>password</label>
      <div class="control"><input id='password-signup' class="form-control input is-warning" type="password"
          placeholder="super secret secret (must be 8 characters+)"></div>
    </div>
    <button type='submit' class='button is-warning' id='btnhover'>sign up</button>
    <a href='/login' class='button is-warning' id='btnhover' role='button'>go back</a>
  </form>
</div>

<script src='./js/signup.js'></script>