body {
  font-family: 'Patrick Hand', cursive;
  background-image: url(../assets/images/background.png);
  background-size: contain;
}

h1 {
  font-family: 'Moo Lah Lah', cursive;
  font-size: 85px;
}

h2 {
  text-shadow: 2px 0 #f8c31d;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  padding: 2%;
}

.welcome {
  font-size: 20px;
  text-align: justify;
  padding: 2%;

}

.cow {
  background-color: white;
  opacity: 90%;
  border-radius: 2%;
  padding: 2%;
  margin: 2%;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

#home-login {
  display: flex;
  flex-direction: column;
}

.cash {
  color: #f8c31d
}

#logout:hover,
#home-login:hover {
  background-color: #f8c31d;
}

.fade-out {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}