body {
  font-family: 'Patrick Hand', cursive;
  background-image: url(../assets/images/background.png);
  background-size: contain;
}

h1 {
  font-family: 'Moo Lah Lah', cursive;
  font-size: 85px;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  padding: 2%;
}

.cow {
  background-color: white;
  opacity: 90%;
  border-radius: 2%;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.navbar-item:hover,
#linethrough:hover {
  text-decoration: line-through;
}

#home-login {
  display: flex;
  flex-direction: column;
}